Flask==2.3.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
PyPDF2==2.12.1
requests==2.28.2
Jinja2==3.1.6
MarkupSafe==3.0.2
Werkzeug==3.0.1
blinker==1.9.0
click==8.2.0
greenlet==3.2.2
gunicorn==21.2.0
itsdangerous==2.2.0
numpy==2.2.5
packaging==25.0
pandas==2.2.2
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
six==1.17.0
sqlalchemy==2.0.40
typing-extensions==4.13.2
tzdata==2025.2
